.more {
  width: 25px;
  height: 25px;
  background-color: var(--bg-clr);
  border-radius: 5px;
  margin-left: 140px;
  padding-left: 3px;
  cursor: pointer;
  position: relative;
}

.dropdown-wrapper {
  width: 100px;
  height: auto;
  background-color: var(--bg-clr);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  border-radius: 0 0 5px 5px;
  position: absolute;
  right: -75px;
  z-index: 100;
}

.dropdown-wrapper .dropdown-menu__item {
  width: 100%;
  list-style: none;
  padding: 5px;
}

.dropdown-wrapper .dropdown-menu__item a {
  text-decoration: none;
  color: var(--secondary-clr);
}

.dropdown-wrapper .dropdown-menu__item:hover {
  background-color: var(--foreground-clr);
}
