.nav {
  width: 37.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listItem {
  text-decoration: none;
  padding: 10px;
  color: var(--secondary-clr) !important;
}

.listItem:hover {
  color: var(--primary-clr) !important;
}

.listItem:active {
  color: var(--primary-clr) !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid var(--bg-clr);
}

.logout button {
  width: 60px;
  height: 30px;
  border: 1px solid var(--bg-clr);
  border-radius: 5px;
  background-color: var(--foreground-clr);
  color: var(--secondary-clr);
}

.logout button:hover {
  background-color: var(--bg-clr);
  border: 1px solid var(--foreground-clr);
}
