.card-header {
  width: 100%;
  height: 60px;
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.card-header__username {
  position: absolute;
  left: 60px;
}

.card-header__avatar img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
  border: 2px solid var(--bg-clr);
  margin-right: 5px;
}

.card-header__moreBtn {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-header__moreBtn:hover {
  background-color: var(--bg-clr);
}

.dropdown-wrapper {
  width: 100px;
  height: auto;
  background-color: var(--foreground-clr);
  box-shadow: 5px 5px 11px 9px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 30px;
  right: 3px;
  z-index: 100;
}

.dropdown-wrapper .dropdown-menu__item {
  width: 100%;
  list-style: none;
  padding: 5px;
}

.dropdown-wrapper .dropdown-menu__item a {
  text-decoration: none;
  color: var(--secondary-clr);
}

.dropdown-wrapper .dropdown-menu__item:hover {
  background-color: var(--bg-clr);
}
