.title {
  margin: 20px 0;
}

.card {
  max-width: 440px;
  height: auto;
  border-radius: 5px;
  background-color: var(--foreground-clr);
  margin-bottom: 20px;
}

.card-header__postDescription {
  padding: 0 10px 10px 10px;
}

.card-header__imgPost .img {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0 0 5px 5px;
  padding: 0 10px 10px 10px;
}
