@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #009ffd;
  --secondary-clr: #1a181b;
  --validation-clr1: #1c7c54;
  --validation-clr2: #c76d79;
  --bg-clr: #d2d2d2;
  --foreground-clr: #fbfaf8;
}

body {
  background-color: var(--bg-clr);
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--foreground-clr);
  position: sticky;
  top: 0;
}
